<div ng-controller="showAvailabilityController">


<h3>Reviews</h3>

	<form>
		<textarea palceholder="reviews" ng-model="newReview.review"></textarea>
		<input type="submit" value="Review" ng-click="addReview()">
	</form>

	<br><br>

	<table>
		<tbody>
			<tr ng-repeat = "review in availability.reviews | orderBy: 'date' | orderBy: '-like' ">
				<td>{{review.name}}</td>
				<td>{{review.review}}</td>
				<td>{{review.date | date: 'MMMM d yyyy'}}</td>
				<td>{{review.like}} like(s)
					<button ng-click = 'addLike(review._id)' class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span></button>
				</td>
			</tr>	
		</tbody>
	</table>






<h1>THis is the show page</h1>

<a href="#/index">Back</a>
<br>


			<p>{{availability.daycare_name}}</p>
			<!-- <p>{{availability.address}}</p> -->
			<p>{{availability.about}}</p>
			<p>{{availability.price}}</p>



			<section>
				<iframe
					width="600"
					height="450"
					frameborder="0" style="border:0"
					ng-src="{{someUrl}}" allowfullscreen>
				</iframe>
			</section>

<p>details regarding details like map and shit</p>


<p>Book it!</p>
<a href="#/bookings/{{availability._id}}/create">create appointment</a>

<br>

<p>you can only edit if you are the user=logged in user</p>

<div ng-if="currentUser == availability.name">
	<a href="#/{{availability._id}}/edit">Edit</a>
</div>

 

</div>