/*general*/
h1, h2, h3, h4, h5, p{
  font-family: 'Comfortaa', cursive;
  color: black;
}
p, a, table{
  font-size: 1.2em;
}
a{
  color: brown;
}
.error-message{
  color: darkred;
}
.top20{
  margin-top: 25px;
}
.top10{
  margin-top:10px;
}
.bot20{
  margin-bottom: 20px;
}
.btn-yellow{
  background-color: #ffff89;
}
/*session page*/
video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    opacity: .7;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover; 
}
.main-title{
  font-size: 8em;
  margin-top: 30px;
}
.sign-in{
  margin-top: 100px;
}
.background-box{
  background-color: #D8D8D8;
  opacity: .9;
  border: 2px solid black;
}
.form-input-center{
  text-align: center;
}

/*index page*/
.search-by{
  width: 200px;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #bdbdff;
}
.btn-create{
  width: 170px;
}
.btn-logout{
  background-color: #e40000;
  color: white;
}
/*show*/
.small_txt{
  font-size: 1em;
}
.mid-space{
  margin-top: 35px;
}
.border-bot{
  border-bottom: 2px dotted #daccdc;
}
.comment-time{
  font-size: .9em;
}